/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --mdc-filled-text-field-label-text-size: 12px;
  --mat-form-field-container-text-size: 12px;
  --mat-form-field-filled-with-label-container-padding-top: 18px;
  --mat-form-field-filled-with-label-container-padding-bottom: 0px;
  // --mat-form-field-container-height: 30px ;
  --mdc-filled-text-field-container-color: unset;
  --mat-form-field-state-layer-color: unset;
  --mdc-filled-text-field-focus-label-text-color: #9333EA;
}

// .mdc-text-field--filled:not(.mdc-text-field--disabled) {
//   background-color: unset !important;
// }

.mdc-line-ripple::before, .mdc-line-ripple::after {
  // content: none !important;
  display: none;
}



// .mat-mdc-form-field-focus-overlay  {
//   background-color: unset !important;
// }

.mat-mdc-form-field-has-icon-prefix .mat-mdc-text-field-wrapper {
  border-style: solid;
  border-width: 1px;
  border-color:#9333EA;
  border-radius: 1px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
